.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin: 20px; /* Add margin to the card container */
  padding: 20px; /* Add padding to the card container */
}

.card {
  background-color: #f3f3f3;
  border-radius: 8px;
  padding: 16px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-type {
  font-size: 14px;
  color: #777777;
  margin-bottom: 8px;
}

.card-details {
  margin-top: 16px;
}

.card-info {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.card-info span {
  margin-right: 8px;
}

.card-expiry-label {
  font-weight: bold;
}

.card-limit-label {
  font-weight: bold;
}

.card-status {
  font-size: 14px;
  color: #ff0000;
  font-weight: bold;
  margin-top: 8px;
}

.loading {
  text-align: center;
  margin-top: 16px;
}
